@import "../../../styles/variables";

.imgCard{
    &__container{
        border  : 1px solid map-get($colorSupport, "lightGray01" );
    }

    &__content{

        &__img{
            height              : 300px;
            width               : 100%;
            background-position : center;
            background-repeat   : no-repeat;
        }

        &__body{
            display         : flex;
            flex-direction  : column;
            margin          : 20px;

            h6{
                margin-bottom   : 20px;
            }

            &-tag{
                background-color    : map-get($colorPrimary, "black");
                display             : inline-block;
                color               : map-get($colorPrimary, "white");
                padding             : 3px 14px;
                border-radius       : 2px;
                width               : 70px;
                margin-bottom       : 12px;
            }

            &-field{
                display             : flex;
                flex-direction      : row;

                div{
                    margin-top      : 20px;
                    flex            : 1;

                    .field-name{
                        color       : map-get($colorSupport, "lightGray01" );
                    }
                }
            }
        }
    }
}

@include mobile  {
    .imgCard{

        &__content{
            display         : flex;
            flex-direction  : row;
            height          : 90px;

            &__img{
                width       : 90px;
                height      : 90px;
            }
            &__body{
                margin      : 9px 14px;
                flex        : 1;
                &-tag{
                    display : none;
                }
                p{
                    display : none;
                }
                h6{
                    margin-bottom : 0;
                }
                &-field{
                    display : none;
                }
            }
        }
    }
}