@import "../../../../styles/variables";

.playButton{
    &__container{
        max-width: 88px;
        max-height: 88px;
        width: 10vw;
        height: 10vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &__content{
        width: 100%;
        height: 100%;
        border-radius: 88px;
        background-color: map-get($colorSupport , "darkGray02" );
        position: relative;

        &:after{
            content:"";
            display: block;
            left: 0.5vw;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
            height: 0;
            width: 0;
            border-top:2.5vw solid transparent;
            border-right: 0px solid transparent;
            border-bottom:2.5vw solid transparent;
            border-left:4vw solid map-get($colorPrimary , "white" );
        }

        &:hover{
            background-color: map-get($colorSupport , "lightGray02" );
            cursor: pointer;

            &:after{
                border-left:4vw solid #3E3A39;
            }
        }
    }
}

@media only screen and (min-width : 768px) {
    .playButton{
        &__content{
            &:after{
                left: 5px;
                border-top:20px solid transparent;
                border-right: 0px solid transparent;
                border-bottom:20px solid transparent;
                border-left:35px solid map-get($colorPrimary , "white" );
            }

            &:hover{
                &:after{
                    border-left:35px solid #3E3A39;
                }
            }
        }
    }
}