@import "./variables";

*{
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
}

body{
    overflow-x  : hidden;

    &.mobileNavOpen{
        overflow-y  : hidden;
    }
}

h1{
    @include font(60px , 700 , 64px)
}

h2{
    @include font(48px , 500 , 55px)
}

h3{
    @include font(36px , 500 , 42px)
}

h4{
    @include font(28px , 500 , 36px)
}

h5{
    @include font(24px , 500 , 26px)
}

h6{
    @include font(20px , 500 , 24px)
}

p{
    @include font(14px , 400 , 26px)
}

.font-body01{
    @include font(16px , 400 , 26px)
}

a{
    @include font(18px , 400 , 21px)
}

@include mobile {
    h1{
        @include font(28px , 700 , 35px)
    }
    h3{
        @include font(18px , 700 , 22px)
    }
    h6{
        @include font(18px , 500 , 22px)
    }
}