.video{
    &__content{
        width: 80%;
        margin: auto;
        max-width: 1200px;
        position: relative;

        img{
            width: 100%;
        }
    }
}

@media only screen and (max-width : 1200px) {
    .video{
        &__content{
            width: 90%;
        }
    }
}