@import "../../../styles/variables";

.video{
    &__container{
        margin-bottom : 121px;
    }

    &__content{
        width       : 80%;
        margin      : auto;
        max-width   : 1200px;

        img{
            width: 100%;
        }
    }
}

@include mobile  {
    .video{
        &__content{
            width   : 90%;
        }
    }
}