@import "../../../styles/variables";

.main{
    &__container{
        width   : 100%;
        height  : $mainHeight;
    }

    &__content{
        position        : relative;
        padding-top     : 24px;
        text-align      : center;
        height          : 100%;
        display         : flex;
        flex-direction  : column;
        padding-left    : 40px;
        padding-right   : 95px;

        &__title{
            margin  : auto;

            h1{
                max-width   : 1040px;
            }

            p{
                max-width   : 750px;
                margin      : 28px auto;
            }

            &-slideshow{
                display         : flex;
                flex-direction  : row;
                justify-content : center;
                margin-top      : 44px;

                .slideshowDot{
                    margin          : 0 12px;
                    border          : 1px solid map-get($colorPrimary ,"black");
                    width           : 10px;
                    height          : 10px;
                    border-radius   : 10px;
                    cursor          : pointer;

                    &.selected{
                        background-color    : map-get($colorPrimary ,"black");
                    }
                }
            }
        }
        &__socialLink{
            margin-bottom   : 30px;
        }

        &-copyright{
            transform           : rotate(90deg)translateX(-50%);
            transform-origin    : bottom left;
            position            : absolute;
            left                : 40px;
            top                 : 50%;;
        }
    }
}

@include mobile {
    .main{
        &__container{
            height  : $mobile_mainHeight;
        }
        &__content{
            padding-right   : 40px;

            &-copyright{
                display     : none;
            }
            &__socialLink{
                display     : none;
            }
        }
    }
}