@import "../../../styles/variables";

.main{
    &__container{
        width: 100%;
        height: 780px;
    }

    &__content{
        padding-top: 24px;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        &__title{
            padding-left: 40px;
            padding-right: 40px;
            margin: auto;

            h1{
                max-width: 1040px;
            }

            p{
                max-width: 750px;
                margin: auto;
                margin-top: 28px;
            }

            &-slideshow{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 44px;

                .slideshowDot{
                    margin: 0 12px;
                    border: 1px solid map-get($colorPrimary ,"black");
                    width : 10px;
                    height: 10px;
                    border-radius: 10px;
                    cursor: pointer;

                    &.selected{
                        background-color: map-get($colorPrimary ,"black");
                    }
                }
            }
        }

        &__socialLink{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 30px;
            padding-left: 40px;

            svg{
                margin-right: 70px;
            }
        }

        &-copyright{
            transform: rotate(90deg)translateX(-50%);
            transform-origin: bottom left;
            position: absolute;
            left:40px;
            top: 50%;;
        }
    }
}

@media only screen and (max-width :1200px) {
    .main{
        &__container{
            height: 640px;
        }
        &__content{
            padding-top: 0;
            &-copyright{
                display: none;
            }
            &__socialLink{
                display: none;
            }
        }
    }
}